.partners {
  &__heading {
    margin-top: 8rem;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-bottom: 8rem;

    @include respond(phone) {
      justify-content: flex-start;
    }
  }

  &__item {
    margin: 2rem;

    @include respond(phone) {
      height: 7rem;
    }

    img {
      @include respond(phone) {
        max-height: 100%;
      }
    }
  }
}
